.spinner {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 256px;
  height: 256px;
  margin: auto;
  text-align: center;
}

.spinner span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 16px;
  /* outline: 1px solid red; */
  font-size: 0.875rem;
  color: black;
}

.spinner svg {
  width: 100%;
  height: 100%;
}

.spinner path {
  stroke-width: 3;
  fill: transparent;
  /* mix-blend-mode: multiply; */
}

/* Caption */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  --mdc-theme-primary: rgb(255, 255, 255);
}
.caption {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  font-size: 0.875rem;
  text-align: center;
  color: grey;
}
#heart {
  color: red;
}
.primitivo {
  color: black;
  text-decoration: none;
  font-weight: 700;
}
